div.root {
    padding: 0 0 3em 0;
}

/* Posts */

div.item.post {
    padding: 0 0 3em 0;
    line-height: 0;
}

div.post-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

div.post-header div.timestamp {
    display: inline;
    opacity: 0.5;
    font-size: 90%;
    margin-left: auto;
}

div.post-top, div.post-bottom {
    margin: 1em;
}

div.post-top {
    display: flex;
    flex-direction: row;
}

/* Comments */

div.ui.comments.compact {
    margin: 0;
}

div.ui.comments.compact div.comment {
    margin: 0;
}

div.ui.comments.compact a.display-name {
    display: inline;
    margin-right: 0.25em;
}

div.ui.comments.compact div.text {
    display: inline;
}

div.ui.comments.compact div.metadata {
    display: none;
}

div.ui.comments.compact i.icon {
    display: none;
}

div.comment-loader {
    margin-bottom: 1em;
}

/* New Post */

div.new-post-form {
    bottom: 0;
    position: fixed;
    padding: 1em;
    width: 100vw;
}

div.new-post-form div.fields {
    justify-content: space-between;
}