div.item.post {
    margin: 0 0 2em 0;
    line-height: 0;
}

div.post-header {
    margin: 0.5em;
    display: flex;
    align-items: center;
}

div.post-header div.timestamp {
    display: inline;
    opacity: 0.5;
    font-size: 90%;
    margin-left: auto;
}

div.item.post div.ui.comments {
    margin: 0.5em;
}